body {
    font-family: Arial, sans-serif;
    background-color:lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.phone-login {
    color: #007bff;
    font-size: 14px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #007bff;
    text-decoration: none;
}

footer {
    background-color:white;
    padding: 20px 0;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

.column {
    margin: 10px;
    
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-middle {
    margin: 10px 0;
}

.footer-middle label {
    font-size: 14px;
    margin-right: 50px;
}

.footer-middle select {
    padding: 5px;
    font-size: 14px;
}

.footer-bottom a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}
